.git
.github
.gitignore
.env
.env.example
.editorconfig
.python-version
.pre-commit-config.yaml
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
htmlcov
tests
*.md
!README.md
LICENSE
pyproject.toml
requirements-dev.txt
versions/
